:root {
  --color-black: #111111;
  --color-white: #eeeeee;
  --color-rebeccapurple: rebeccapurple;
  --color-indigo: indigo;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: var(--color-black);
}

.container {
}

.accordion {
  max-width: 80rem;
  margin-inline: auto;
}

.accordion__title {
  font-size: 4rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.label-tab {
  display: block;
  padding-block: 1rem;
  border-top: 0.2rem solid var(--color-indigo);
}

.accordion__tab {
  font-size: 2.5rem;
  font-weight: bold;
}

.accordion__tab-title {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__tab-icon {
  display: block;
  width: 4rem;
  height: 4rem;
}

.accordion__tab-content {
}

.accordion__tab-content img {
  display: block;
  max-width: 30rem;
  margin-inline: auto;
}

.accordion:hover * {
  cursor: pointer;
}

.accordion:hover .accordion__tab {
  color: var(--color-indigo);
}

.accordion:hover .accordion__tab-icon {
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
